<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tecnoesis | Admin</title>
</head>

<body>
    <form action="/admin/eventRegistration" method="post">
        <select name="event">
            <option value="Pitch Please">Pitch Please</option>
            <option value="Ad-ovation">Ad-ovation</option>
            <option value="Nibble Code">Nibble Code</option>
            <option value="Pixelate 2021">Pixelate 2021</option>
            <option value="Data Strata">Data Strata</option>
            <option value="Cyberbot">Cyberbot</option>
            <option value="Plot Twist">Plot Twist</option>
            <option value="Mascot Making">Mascot Making</option>
            <option value="Draft Ritz 4.0">Draft Ritz 4.0</option>
            <option value="Pitch the car">Pitch the car</option>
            <option value="Call of Duty Mobil">Call of Duty Mobil</option>
            <option value="Mini-Militia">My City My Dream</option>
            <option value="Robo Mania">Robo Mania</option>
            <option value="The Sound and The Fury"></option>

        </select>
        <button type="submit">Download</button>
    </form>

</body>

</html>