<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/coming-soon.css">
    <link rel="icon" href="/images/icon.png">
    <title>Tecnoesis 21 | Coming Soon</title>
</head>

<body>
    <img class="logo-coming-soon" src="/images/logo-white.png" alt="">
    <div id="yazı">█ █ █ <span style="color:black">█ █ █ █ █ █ █ █ █ █ </span>31%
        <br />
        <br>&gt; Where is this page?&nbsp;&nbsp;&nbsp;&nbsp;<br />
        <br>&gt; Will be available soon !!! <span id="imleç">█</span>
        <br />


        <a href="/" class="home-btn">Homepage</a>
    </div>


</body>

</html>