<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/event-reg/eventReg.css">
    <title>Tecnoesis | Event Registration</title>
    <link rel="icon" href="/images/icon.png">
</head>

<body>

    <div class='outContainer'>
        <div class='event_registration'>
            <div class='heading'>
                <div class='img'>
                   <a href= "/"><img src='./images/tecnoesis logo 2021xxxhdpi.png' /></a> 
                </div>
            </div>

            <h2 class="head" style="white-space: nowrap;">Event Registration</h2>


            <div class='topRight'>
                <span><%= userName %></span>
                <button class="btn">
                    <a href='/user/logout' style="text-decoration: none;color:white">Sign Out</a>
                </button>
            </div>

            <div style='position:absolute;margin-top:-135vh;'>
                <%- include("./partials/messages") %>
            </div>


            <form class='eventRegForm' action="/eventRegister" method="POST">
                <div class='module fl'>
                    <label>Module Name</label>
                    <select name="moduleName" id="moduleName">
                        <option value="Empressario">Empressario</option>
                        <option value="CyberWarp">CyberWarp</option>
                        <option value="ASME">ASME</option>
                        <option value="V-warz">V-warz</option>
                        <option value="Smart City">Smart City</option>
                        <option value="Robotics">Robotics</option>
                        <option value="NITS Hacks 4.0">NITS Hacks 4.0</option>
                    </select>
                </div>

                <div class='events_associated fl'>
                    <label>Event Name</label>
                    <select name="eventName" id="eventName"></select>
                </div>

                <div class='team_event hide'>

                    <div class="team_name_e fl">
                        <label>Team Name*</label>
                        <input type='text' name='team_name' />
                    </div>

                    <div class="team_leader_e fl">
                        <label>Team Leader name (Member 1)*</label>
                        <input type='text' name='team_leader_name' />
                    </div>

                    <div class="team_leader_email_e fl">
                        <label>Team Leader Email*</label>
                        <input type='email' name='team_leader_email' />
                    </div>

                    <div class="team_leader_phoneNo_e fl">
                        <label>Team Leader Phone Number*</label>
                        <input type="tel" pattern="^[0-9]{10}$" title="10 digit phone number" onkeypress="return onlyNumberKey(event)" name='team_leader_phone_No' />
                    </div>

                    <div class="team_leader_address_e fl">
                        <label>Team Leader Address*</label>
                        <input type='text' name='team_leader_address' />
                    </div>

                    <div class="team_members">

                    </div>
                </div>

                <div class="indivisual">

                    <div class="name_e fl">
                        <label>Name*</label>
                        <input type='text' name='name' />
                    </div>

                    <div class="email_e fl">
                        <label>Email*</label>
                        <input type='email' name='email' />
                    </div>

                    <div class="phoneNo_e fl">
                        <label>Phone Number*</label>
                        <input type="tel" pattern="^[0-9]{10}$" title="10 digit phone number" onkeypress="return onlyNumberKey(event)" name='phone_No' />
                    </div>

                    <div class="address_e fl">
                        <label>Address</label>
                        <input type='text' name='address' />
                    </div>

                </div>



                <button type="submit" class="btn">Register</button>

            </form>
        </div>
    </div>

    <script src="./js/event-reg/eventReg.js"></script>
</body>

</html>