*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    overflow-x: hidden;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

input{
    height:30px;
    padding:0.5rem 0.3rem;
    border:none;
    border-bottom:1px solid rgba(134, 134, 134, 0.274);
}
input:focus{
    outline: none;
}

select,option{
    padding:0.5rem;
}

.outContainer{
    min-height:100vh;
    width:100vw;
    background-color: rgba(8, 165, 238, 0.76);

    .event_registration{
        background-color: white;
        position: relative;
        min-height:90vh;
        width:60vw;
        top:5vh;
        left:20vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius:20px;
        padding:2rem;
        margin-bottom:10vh;

        .head{
            font-size:40px;
            color:rgb(10, 55, 92);
        }
    
        .eventRegForm{
            min-height:90vh;
            width:80vw;
    
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: relative;

            .plus_e{
                margin-top:2vh;
                margin-bottom:2vh;
                label{
                    margin-right:10px;
                    font-weight: 600;
                    font-size: large;
                }
                button{
                    height:25px;
                    width:25px;
                    border-radius:50%;
                    font-size: large;
                }
            }
    
            .fl{
                display: flex;
                flex-direction: column;
                height:10vh;
                justify-content: space-around;
                width:40vw;
                margin-top:2%;
            }
            .team_event{
                margin-top:2rem;
            }

            .btn{
                padding:0.5rem;
                background-color: #0093D4;
                color: rgb(255, 255, 255);
                border-radius: 10px;
                margin-top: 5vh;
                margin-bottom: 5vh;
                width:100px;
                font-size: large;
            }
            .btn:hover{
            
                transform: scale(1.01);
                background-color: #056a95;
            }
            button:hover{
               cursor: pointer;
            }
            button:focus{
              outline: none;
            }
        }
    }
}

@media (max-width: 700px) {
    .event_registration{

        h2{
            margin-top:5%;
            margin-bottom: 5%;
        }
    
        .eventRegForm{
    .fl{
        width:280px;
      }
     }
    }
}