*{
    margin:0;
    padding:0;
    box-sizing: border-box;

    overflow-x: hidden;
}

.event_registration{
    min-height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .eventRegForm{
        min-height:90vh;
        width:80vw;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .plus_e{
            margin-top:2vh;
            margin-bottom:2vh;
            label{
                margin-right:10px;
                font-weight: 600;
                font-size: large;
            }
            button{
                height:25px;
                width:25px;
                border-radius:50%;
                font-size: large;
            }
        }

        .fl{
            display: flex;
            flex-direction: column;
            height:10vh;
            justify-content: space-around;
            width:40vw;

            input{
                height:30px;
                padding:0.5rem 0.3rem;
            }
            select,option{
                padding:0.5rem;
            }
        }
        .btn{
            padding:0.5rem;
            background-color: #0093D4;
            color: rgb(255, 255, 255);
            border-radius: 10px;
            margin-bottom: 10px;
        }
        .btn:hover{
        
            transform: scale(1.01);
            background-color: #056a95;
        }
        button:hover{
           cursor: pointer;
        }
        button:focus{
          outline: none;
        }
    }
}